# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.log

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage
.coverage
.coverage.*
htmlcov/
.tox/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pyenv
.python-version

# === VS Code ===
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# === Jupyter Notebooks ===
.ipynb_checkpoints/
*.nbconvert.ipynb
*.nbstripout

# === OS / Editor cruft ===
.DS_Store
Thumbs.db
*.swp
*.swo
*~
